<ul id="watchings-list">
  <li class="watchings-item" style="background-color: <%= yo_colors.sample %>">
    <%= shorten_text @watching.url %>
  </li>
</ul>

<p>
  Do you want to start watching this url?
</p>

<%= form_for @watching, url: watchings_path(username: @current_user.username) do |f| %>
  <%= f.hidden_field :url, value: @watching.url %>
  <%= f.hidden_field :username, value: @current_user.username %>
  <ul id="watchings-list">
    <li class="watchings-item watchings-item-button">
      <%= f.submit 'Yes', class: :yo_button %>
    </li>
  </ul>
<% end %>
